<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'accountinformation/style.css' %}" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset="UTF-8">
    <title>Pinelands Music School</title>
</head>
<body>
    <div class="content_container">
        <div class="header">

            <a href="/"><img src="../../../static/Pictures/Pinelands_Logo_Placeholder.jpg" alt="School logo" class="logo"></a>

            <div class="pinelands_title">
                <h class="pinelands">Pinelands<br>Music<br>School</h>
            </div>

            <div class="account_login">
                <a href=""><img src="../../../static/Pictures/Student_Profile.jpg" alt="Students profile picture" class="profile_pic"></a>
                <div class="account_login_text">
                    <a href=""><p class="login_text">{{ a_student.firstname }} {{ a_student.lastname }}</p></a>
                    <a href=""><p class="login_text">Log Out</p></a>
                </div>
            </div>

        </div>

        <ul class="nav_bar">
            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button One</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Two</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Three</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Four</a></li>

            <li class="nav_bar_button"><a href="" class="nav_bar_button_text">Button Five</a></li>
        </ul>

        <div class="account_header">
            <h class="account_header_title">Kermit's Personal Details</h>
        </div>

        <ul class="nav_bar">
            <li class="nav_bar_button"><a href="/accountinformation" class="nav_bar_button_text">Personal Details</a></li>

            <li class="nav_bar_button"><a href="/accountinformation/timetable" class="nav_bar_button_text">Time Table</a></li>

            <li class="nav_bar_button"><a href="/accountinformation/educationplan" class="nav_bar_button_text">Education Plan</a></li>
        </ul>

        <div class="detail_container">
            <br><h class="detail_header">Profile Picture</h><br>

            <p class="detail_text">Change Profile Picture</p>
            <img src="../../../static/Pictures/divider.jpg" alt="Line dividing sections" class="divider">
            <h class="detail_header">About You</h><br>

            <p class="detail_text">First Name: {{ a_student.firstname }}</p>
            <p class="detail_text">Last Name: {{ a_student.lastname }}</p>
            <p class="detail_text">Date of Birth: {{ a_student.DOB }}</p>
            <p class="detail_text">Gender: {{ a_student.gender }}</p>
        </div>

        <div class="footer">
            <br>
            <a href=""><p class="footer_text">About Us</p></a>
            <a href=""><p class="footer_text">Contact Us</p></a>
            <br>
        </div>
    </div>
</body>
</html>