<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" />
    <script type ="text/javascript" src="../../static/studentsignup/functions.js"></script>
    <!-- <script type ="text/javascript" href="{% static 'studentsignup/style.css' %}"></script> -->
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset="UTF-8">
    <title>Pinelands Music School</title>
</head>
<body>
    <div class="content_container">
        <div class="header">

            <a href="/"><img src="../../../static/Pictures/Pinelands_Logo_Placeholder.jpg" alt="School logo" class="logo"></a>

            <div class="pinelands_title">
                <h class="pinelands">Pinelands<br>Music<br>School</h>
            </div>

        </div>

        <ul class="nav_bar">
            <li class="nav_bar_button"><a href="../" class="nav_bar_button_text">Home</a></li>

            <li class="nav_bar_button"><a href="../accountinformation" class="nav_bar_button_text">Account Information</a></li>

            <li class="nav_bar_button"><a href="../studentsignup" class="nav_bar_button_text">Student Signup</a></li>

            <li class="nav_bar_button"><a href="../teacherapplication" class="nav_bar_button_text">Teacher Application</a></li>

            <li class="nav_bar_button"><a href="../instrumentmanagement" class="nav_bar_button_text">Instrument Management</a></li>

            <li class="nav_bar_button"><a href="../contracts" class="nav_bar_button_text">Contract Creation</a></li>
        </ul>

        <div class="signup_container">

            <br>
            <button class="signup_button" onclick="overlayOn()">
				Signup Now
            </button>
            <br>

            <br><h class="detail_header">Receive A Quality Education</h><br>
            <p class="detail_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, ante id auctor facilisis, magna lacus vehicula sem, eget vulputate.</p>
            <br><h class="detail_header">Details and Cost</h><br>
            <p class="detail_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, ante id auctor facilisis, magna lacus vehicula sem, eget vulputate.</p>

        </div>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <div id="overlay">
            <div class="signup_form_container">
                <div class="signup_form">
                    <form action="add_student" method="POST" class="signup_form">
                        {% csrf_token %}
                        First Name<input type="text" name="FirstName" required><br><br>
                        Last Name<input type="text" name="LastName" required><br><br>
                        Date of Birth<input type="date" name="DOB" required><br><br>
                        <!--Street Number<input type="text" name="StreetNumber" required><br><br>
                        Street Name<input type="text" name="StreetName" required><br><br>
                        Suburb<input type="text" name="Suburb" required><br><br>
                        Postcode<input type="number" name="Postcode" size="4" required><br><br>
                        Gender<br>
                        <input type="radio" name="Gender" value="Other" checked>Other<br>
                        <input type="radio" name="Gender" value="Female">Female<br>
                        <input type="radio" name="Gender" value="Male">Male<br><br>
                        Phone<input type="number" name="Phone" size="10" required><br><br>
                        Facebook<input type="text" name="Facebook" required><br><br>-->
                        Email<input type="email" name="Email" required><br><br>
                        <!--Contact Preferance<input type="text" name="ContactPreferance" required><br><br>-->
                        Password<input type="password" name="Password" required><br><br>
                        <!--Confirm Password<input type="password" name="ConfirmPassword" required><br><br>-->
                        <input type="submit" name="submit" value="Submit" class="submit_button">
                    </form>
                    <button class="cancel_button" onclick="overlayOff()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>

        <div class="footer">
            <br>
            <a href=""><p class="footer_text">About Us</p></a>
            <a href=""><p class="footer_text">Contact Us</p></a>
            <br>
        </div>
    </div>
</body>
</html>