<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" />
    <script type ="text/javascript" src="../../static/instrumentmanagement/Functions.js"></script>
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset="UTF-8">
    <title>Pinelands Music School</title>
</head>
<body>
    <div class="content_container">
        <div class="header">

            <a href=""><img src="../../../static/Pictures/Pinelands_Logo_Placeholder.jpg" alt="School logo" class="logo"></a>

            <div class="pinelands_title">
                <h class="pinelands">Pinelands<br>Music<br>School</h>
            </div>

            <div class="account_login">
                <a href="accountinformation"><img src="../../../static/Pictures/Student_Profile.jpg" alt="Student's profile picture" class="profile_pic"></a>
                <div class="account_login_text">
                    {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <p class="login_text">Admin</p>
                        {% elif user.is_teacher %}
                            <p class="login_text">Teacher</p>
                        {% else %}
                            <p class="login_text">Student</p>
                        {% endif %}
                        <a href=""><p class="login_text">{{ request.user.first_name }} {{ request.user.last_name }}</p></a>
                        <a href="../login/logoutuser"><p class="login_text">Log Out</p></a>
                    {% else %}
                        <a href="/login"><p class="login_text">Log In</p></a>
                    {% endif %}
                </div>
            </div>

        </div>

        <ul class="nav_bar">
            <li class="nav_bar_button"><a href="../" class="nav_bar_button_text">Home</a></li>

            <li class="nav_bar_button"><a href="../accountinformation" class="nav_bar_button_text">Account Information</a></li>

            <li class="nav_bar_button"><a href="../studentsignup" class="nav_bar_button_text">Student Signup</a></li>

            <li class="nav_bar_button"><a href="../teacherapplication" class="nav_bar_button_text">Teacher Application</a></li>
            {% if user.is_authenticated %}
                {% if user.is_admin or user.is_teacher %}
                <li class="nav_bar_button"><a href="../instrumentmanagement" class="nav_bar_button_text">Instrument Management</a></li>

                <li class="nav_bar_button"><a href="../contracts" class="nav_bar_button_text">Contract Creation</a></li>
                {% endif %}
            {% endif %}
        </ul>

        <div class="account_header">
            <h class="account_header_title">Instruments</h>
        </div>

        <table class="instruments_table">
            <tbody>
                <tr class="instruments_table_row">
                    <th>Instrument ID</th>
                    <th>Instrument</th>
                    <th>Size</th>
                    <th>Condition</th>
                    <th>Available</th>
                    <th>Rental Price</th>
                    <th>Sale Price</th>
                </tr>

                <!-- This will be filled from the DB and contained in a for loop once the DB is in -->
                {% for instrument in all_instruments %}
                <tr class="instruments_table_row">
                    <td>{{ instrument.id }}</td>
                    <td>{{ instrument.type }}</td>
                    <td>{{ instrument.size }}</td>
                    <td>{{ instrument.quality }}</td>
                    <td>{{ instrument.available }}</td>
                    <td>{{ instrument.rentalPrice }}</td>
                    <td>{{ instrument.salePrice }}</td>
                    <!-- Can add this to allow managers to update the table once permissions are a go -->
                    <td><a href="remove_instrument/{{ instrument.id }}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="add_instrument_button" onclick="overlayOn()">
            Add New
        </button><br><br>

        <div id="overlay">
            <div class="instrument_form_container">
                Add New Instrument<br><br>

                <form action="add_instrument" method="POST">
                    {% csrf_token %}
                    Instrument<input type="text" name="Instrument" required><br><br>
                    Size<input type="text" name="Size" required><br><br>
                    Condition<input type="text" name="Condition" required><br><br>
                    Available<input type="text" name="Available" required><br><br>
                    Rental Price<input type="text" name="RentalPrice" required><br><br>
                    Sale Price<input type="text" name="SalePrice" required><br><br>
                    <input type="submit" name="submit" value="Submit" class="add_instrument_button">
                </form><br>
				<button class="add_instrument_button" onclick="overlayOff()">
					Cancel
				</button>
            </div>
        </div>

        <div class="footer">
            <br>
            <a href=""><p class="footer_text">About Us</p></a>
            <a href=""><p class="footer_text">Contact Us</p></a>
            <br>
        </div>
    </div>
</body>
</html>