<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" />
    <script type ="text/javascript" src="../../static/instrumentmanagement/Functions.js"></script>
    <meta http-equiv="cache-control" content="no-cache">
    <meta charset="UTF-8">
    <title>Pinelands Music School</title>
</head>
<body>
    <div class="content_container">
        <div class="header">

            <a href=""><img src="../../../static/Pictures/Pinelands_Logo.png" alt="School logo" class="logo"></a>

            <div class="pinelands_title">
                <h class="pinelands">Pinelands Music School</h>
                <h3 class="pinelandsquote">the academy that makes your musical dreams come true</h3>
            </div>

            <div class="account_login">
                 <div class="account_login_text">
                    {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <p class="login_text">Admin</p>
                        {% elif user.is_teacher %}
                            <p class="login_text">Teacher</p>
                        {% else %}
                            <p class="login_text">Student</p>
                        {% endif %}
                        <a href=""><p class="login_text">{{ request.user.first_name }} {{ request.user.last_name }}</p></a>
                        <a href="../login/logoutuser"><p class="login_text" >Log Out</p></a>
                    {% else %}
                        <a href="/login"><p class="login_text">Log In</p></a>
                    {% endif %}
                </div>
            </div>

        </div>

        <ul class="nav_bar">
            <li class="nav_bar_button"><a href="../" class="nav_bar_button_text">Home</a></li>

            <li class="nav_bar_button"><a href="../accountinformation" class="nav_bar_button_text">Account Information</a></li>

            <li class="nav_bar_button"><a href="../studentsignup" class="nav_bar_button_text">Student Signup</a></li>

            <li class="nav_bar_button"><a href="../teacherapplication" class="nav_bar_button_text">Teacher Application</a></li>
            {% if user.is_authenticated %}
                {% if user.is_admin or user.is_teacher %}
                <li class="nav_bar_button"><a href="../instrumentmanagement" class="nav_bar_button_text">Instrument Management</a></li>

                <li class="nav_bar_button"><a href="../contracts" class="nav_bar_button_text">Contract Creation</a></li>
                {% endif %}
            {% endif %}
        </ul>

        <div class="account_header">
            <h class="account_header_title">Instruments</h>
        </div>
<div class="signup_container">
        <table class="instruments_table">
            <tbody>
                <tr class="instruments_table_row">
                    <th>Instrument ID</th>
                    <th>Instrument</th>
                    <th>Size</th>
                    <th>Condition</th>
                    <th>Rental Price</th>
                    <th>Sale Price</th>
                    <th>Assigned Student</th>
                    <th>Is Sold</th>
                </tr>

                <!-- This will be filled from the DB and contained in a for loop once the DB is in -->
                {% for instrument in all_instruments %}
                <tr class="instruments_table_row">
                    <td>{{ instrument.id }}</td>
                    <td>{{ instrument.type }}</td>
                    <td>{{ instrument.size }}</td>
                    <td>{{ instrument.quality }}</td>
                    <td>{{ instrument.rental_price }}</td>
                    <td>{{ instrument.sale_price }}</td>
                    <td>{{ instrument.assigned_student }}</td>
                    <td>{{ instrument.is_sold }}</td>
                    <!-- Can add this to allow managers to update the table once permissions are a go -->
                    <td><a href="remove_instrument/{{ instrument.id }}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <button class="add_instrument_button" onclick="overlayOn()">
            Add New
        </button><br><br>
</div>
        <div id="overlay">
            <div class="instrument_form_container">
                Add New Instrument<br><br>

                <form action="add_instrument" method="POST">
                    {% csrf_token %}
                    Instrument <input type="text" name="Instrument" required><br><br>
                    Size <input type="text" name="Size" required><br><br>
                    Condition
                    <select id="Condition" name="Condition">
						<option value="n">New</option>
						<option value="u">Used</option>
						<option value="p">Unspecified</option>
                    </select><br><br>
                    Rental Price <input type="number" name="RentalPrice" required><br><br>
                    Sale Price <input type="number" name="SalePrice" required><br><br>
                    Assigned Student <input type="text" name="AssignedStudent" required><br><br>
                    Is Sold
                    <select id="IsSold" name="IsSold">
						<option value="n">Yes</option>
						<option value="u">No</option>
                    </select><br><br>
                    <input type="submit" name="submit" value="Submit" class="add_instrument_button">
                </form><br>
				<button class="cancel_instrument_button" onclick="overlayOff()">
					Cancel
				</button>
            </div>
        </div>

        <div class="footer">
            <br>
            <a href=""><p class="footer_text">About Us</p></a>
            <a href=""><p class="footer_text">Contact Us</p></a>
            <br>
        </div>
    </div>
</body>
</html>
