.content_container {
    width: 100%;
    max-width: 1024px;
    min-width: 512px;
    margin: auto;
    font-family: Georgia;
}

.logo {
    width: 80px;
    height: 120px;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 15px;
}

.pinelands_title {
    float: left;
}

div.account_login {
    text-align:center;
    margin-top: 40px;
    margin-right: 15px;
    line-height:5px;
    float: right;
}

div.account_login_text {
    float: right;
}
p.login_text {
    margin-right:10px;
    color: #f3ba76;
    font-size:13px;
    font-family:"Felix Titling";
}

}


.profile_pic {
    width: 60px;
    height: auto;
    margin: auto;
    float: left;
}

.welcome_pic {
    width: 95%;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color: #f3ba76;
    border: 25.5px double #8e5499;
}

div.header {
    height: 150px;
    width: 100%;
    max-width: 1024px;
    background-color: #8e5499;
	margin: auto;
}

h.pinelands {
    width:100%;
    color: #592c00;
    font-family: "Felix Titling";
    font-size: 40px;
    float:left;
    border: 2px solid #f3ba76;
    padding:5px;
    text-align: center;
    margin-top:40px;
    margin-bottom:5px;
    margin-left:15%;
}

h3.pinelandsquote {
    width:100%;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin-left:16%;
}
div.footer {
	background-color: #8e5499;
	margin: auto;
	width: 100%;
	max-width: 1024px;
	float: left;
}

p.footer_text {
    font-family: "Felix Titling";
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
    color: #f3ba76;
}

h.section_header {
    font-family: "Felix Titling";
    color: #592c00;
    font-size: 16px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black */
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #be7979;
}

.nav_bar_button {
    float: left;
}

.nav_bar_button_text {
    display: block;
    color: white;
    font-family: "Felix Titling";
    font-size: 80%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #592c00;
}

.nav_bar_button_text:hover {
    font-family: "Felix Titling";
    background-color: #f3ba76;
}

/* https://www.w3schools.com/howto/howto_css_three_columns.asp */
.column {
    text-align:justify;
    background-color: #be7979;
    width: 30%;
    height: 150px;
	float: left;
    padding:1.66%;
    overflow: scroll;
    overflow-x: hidden;
}
.column p {
    margin-bottom:10px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Member information page formatting */
div.account_header {
    height: 75px;
    width: 100%;
    max-width: 1024px;
    background-color: #8e5499;
	margin: auto;
}

h.account_header_title {
    color: #592c00;
    font-family: "Felix Titling";
    font-size: 20px;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

div.detail_container{
    background-color: #f3ba76;
    border: 5px double #8e5499;
    width: 99%;
    max-width: 1024px;
    min-height: 200px;
}

h.detail_header {
    color: #592c00;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

.detail_text {
    font-size: 12px;
    margin-left: 15px;
}

.divider {
    width: 100%;
    max-width: 1024;
}

/* Student signup page formatting */
.signup_button {
	border:none;
    float: left;
    width: 150px;
    height: 50px;
    background-color: #be7979;
    font-size: 16px;
    margin-left: 10px;
    color: #592c00;
    text-decoration: none;
    cursor: pointer;
}

.signup_button_text {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
    color: #592c00;
}

.signup_button:hover {
    background-color: #FFFFFF;
}

div.signup_container{
    float: left;
    left_margin: 10px;
    top_margin: 10px;
    background-color: #f3ba76;
    border: 5px double #8e5499;
    width: 99%;
    max-width: 1024px;
    min-height: 200px;
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; /* Add a pointer on hover */
}

div.signup_form_container{
    overflow: hidden;
    position: fixed;
    float:left;
    width: 60%;
    min-width: 400;
    max-width: 614;
    height: 80%;
    min-height: 500;
    max-height: 573;
    padding:10px;
    top: 10%;
    left: 20%;
    background-color: #f3ba76;
    border-style: solid;
    border-width: 2px;
    border-width: black;
}

.signup_form{
    margin: 40px;
}

.submit_button{
	border:none;
    float: left;
    width: 150px;
    height: 50px;
    background-color: #be7979;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    color: #592c00;
    text-decoration: none;
    cursor: pointer;
}
.submit_button:hover {
    background-color: #FFFFFF;
}

.cancel_button{
	border:none;
    float: right;
    width: 150px;
    height: 50px;
    background-color: #be7979;
    font-size: 16px;
    margin-right: 40px;
    margin-top: -20px;
    color: #592c00;
    text-decoration: none;
    cursor: pointer;
}
.cancel_button:hover {
    background-color: #FFFFFF;
}

div.instrument_form_container{
    position: fixed;
    width: 60%;
    min-width: 400;
    max-width: 614;
    height: 80%;
    min-height: 500;
    max-height: 573;
    top: 10%;
    left: 20%;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-width: black;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

.instruments_table{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.add_instrument_button {
	border: none;
    float: center;
    width: 100px;
    height: 25px;
    background-color: #be7979;
    font-size: 12px;
    left_margin: 10px;
    top_margin: 10px;
    color: #592c00;
    text-decoration: none;
    cursor: pointer;
}

.add_instrument_button_text {
    display: block;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
    color: #592c00;
}

.add_instrument_button:hover {
    background-color: #FFFFFF;
}

div.login_content {
    height: 200px;
    width: 99%;
    background-color: #f3ba76;
    max-width: 1024px;
	margin: auto;
    border: 5px double #8e5499;
}

h.login_header {
    color: #592c00;
    font-family: "Felix Titling";
    font-size: 20px;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.login_form {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}
